<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form [formGroup]="LoginForm" (ngSubmit)="onLogin()">
            <div class="text-center">
              <img src="assets/images/logo.png" alt="Gradient Able">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left txt-primary">Sign In</h3>
                </div>
              </div>
              <hr />
              <div class="input-group">
                <input type="text" formControlName="usercode" class="form-control" maskNumber
                  [maskNumber.min-length]="8" [ngClass]=" { 'is-invalid' : submitted && f.usercode.errors }" />
                <div *ngIf="submitted && f.usercode.errors" class="invalid-feedback">
                  <div *ngIf="f.usercode.errors.required">user code is required</div>
                  <span class="md-line"></span>
                </div>
              </div>

              <div class="input-group">
                <input type="password" formControlName="password" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  <span class="md-line"></span>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign
                    in</button>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>