<h1 class="tittle">Transfer Funds</h1>
<form [formGroup]="transferForm" (ngSubmit)="onAmountTransfer()">
  <div class="row">

    <div class="col-md-6 form-group">
      <div class="row">
        <label class="col-sm-4 col-form-label">Account From<span class="required">*</span></label>
        <div class="col-sm-8">
          <select class="form-control" formControlName="accountFromId">
            <option [value]="">None</option>
            <option *ngFor="let account of accountFroms" [value]="account.id"> {{ account.holderName }} </option>

          </select>
          <div class="messages text-danger" *ngIf="submitted && f.accountFromId.errors?.required">Select Account From
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 form-group">

    </div>
    <div class="col-md-6 form-group">
      <div class="row">
        <label class="col-sm-4 col-form-label">Account To<span class="required">*</span></label>
        <div class="col-sm-8">
          <select class="form-control" formControlName="accountToId">
            <option [value]="">None</option>
            <option *ngFor="let account of accountTos" [value]="account.id"> {{ account.holderName }} </option>

          </select>
          <div class="messages text-danger" *ngIf="submitted && f.accountToId.errors?.required">Select Account To
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 form-group">

    </div>

    <div class="col-md-6 form-group">
      <div class="row">
        <label class="col-sm-4 col-form-label">Amount<span class="required">*</span></label>
        <div class="col-sm-8">
          <input type="text" formControlName="amount" maskNumber [maskNumber.min-length]="6" class="form-control">
          <div class="messages text-danger" *ngIf="submitted && f.amount.errors?.required">Amount
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">

    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-6 form-group">
      <div class="row">
        <label class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
          <button type="submit" class="btn btn-primary btn-squre btn-sm mr-2">Transfer
          </button>
        </div>
      </div>
    </div>
  </div>
</form>