<h1 class="tittle">Bank Accounts</h1>

<div class="m-t-15">
  <p-table [columns]="cols" [value]="accounts" [paginator]="false" [rows]="10" [autoLayout]="true">
    <ng-template pTemplate="header" let-columns>
      <tr>

        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field">
          </p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>