<h1 class="tittle">Create New Account</h1>

<form [formGroup]="createAccountForm" (ngSubmit)="onSave()">
  <div class="row">

    <div class="col-md-6 form-group">
      <div class="row">
        <label class="col-sm-4 col-form-label">Holder Name<span class="required">*</span></label>
        <div class="col-sm-8">
          <input type="text" formControlName="holderName" maskAlphabet [maskAlphabet.min-length]="30"
            class="form-control">
          <div class="messages text-danger" *ngIf="submitted && f.holderName.errors?.required">Enter Holder Name
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 form-group">
      <div class="row">
        <label class="col-sm-4 col-form-label">Type<span class="required">*</span></label>
        <div class="col-sm-8">

          <select class="form-control" formControlName="type">
            <option value="">None</option>>
            <option value="saving">Saving</option>>
            <option value="current">Current</option>>
          </select>
          <div class="messages text-danger" *ngIf="submitted && f.type.errors?.required">Select type
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 form-group">
      <div class="row">
        <label class="col-sm-4 col-form-label">Bank Name<span class="required">*</span></label>
        <div class="col-sm-8">
          <select class="form-control" formControlName="bankName">
            <option value="">None</option>
            <option *ngFor="let name of bankNames"> {{ name }} </option>

          </select>
          <div class="messages text-danger" *ngIf="submitted && f.bankName.errors?.required">Select Bank Name
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 form-group">
      <div class="row">
        <label class="col-sm-4 col-form-label">Account Number<span class="required">*</span></label>
        <div class="col-sm-8">
          <input type="text" formControlName="accountNumber" maskNumber [maskNumber.min-length]="12"
            class="form-control">
          <div class="messages text-danger" *ngIf="submitted && f.accountNumber.errors?.required">Enter Account
            Number
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-6 form-group">
      <div class="row">
        <label class="col-sm-4 col-form-label">Capital Amount</label>
        <div class="col-sm-8">
          <input type="text" formControlName="balance" maskNumber [maskNumber.min-length]="6" class="form-control">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
          <div class="border-checkbox-section clearfix">
            <div class="border-checkbox-group border-checkbox-group-info text-14">
              <input class="border-checkbox" id="checkbox1" type="checkbox" formControlName="isOwnAccount">
              <label class="border-checkbox-label f-14" for="checkbox1">Is Own Account
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-md-6 form-group">
      <div class="row">
        <label class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
          <button type="submit" class="btn btn-primary btn-squre btn-sm mr-2">Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</form>