<p>
  Hi, {{user.name}}
</p>

<a routerLink="account-create">Add Bank Account</a> | <a routerLink="account-list">List Of Bank Accounts</a> | <a
  routerLink="transfer-fund">Fund Transfer</a> | <a href="javascript:void();" (click)="onLogout()">Logout</a>




<div class="main-body">
  <div class="page-wrapper">

    <br><br><br><br>

    <router-outlet>
    </router-outlet>
  </div>
</div>
<div class="footer-links">
  <div class="row">
    <div class="col-md-12 text-center">
      <span>Banking System &copy; 2019 | All Rights Reserved.</span>
      <span>For support contact us :+91 999-888-7777</span>
    </div>

  </div>
</div>