.option-ul-list label {
  background: linear-gradient(to right, #1d9c83, #59e0c5);
  display: block;
  width: 100%;
  padding: 8px;
  color: #fff;
}

.option-ul-list label a {
  color: #fff;
  // font-weight: 800;
  text-decoration: none;
}

.option-ul-list label a:hover {
  text-decoration: underline;
}

.option-ul-list ul {
  margin: 0 8%;
  padding: 0;
}

.option-ul-list ul li {
  display: block;
}

.option-ul-list ul li a {
  font-size: 14px;
  color: #666;
  width: 100%;
  display: block;
  padding: 7px 0px;
}

.option-ul-list ul li a:hover {
  color: #000;
  text-decoration: none;
}

.option-ul-list Ul li a i {
  padding: 0 5px;
  color: #1d9c83;
}

.activate-bttn button {
  background: #fff;
  border: none;
  height: 29px;
  line-height: 1px;
  margin-top: 13px;
}

.footer-links {
  padding: 15px 45px;
  color: #000;
  background: linear-gradient(#dcdcdc, #9e9e9e);
  font-weight: 500;
}

.footer-links span {
  margin: 0 5px;
  font-size: 14px;
}

.footer-links a {
  color: #000;
  font-weight: 600;
  text-decoration: underline;
  margin: 0 12px;
  font-size: 14px;
}

.pcoded-navbar {
  .pcoded-navigation-label {
    background: linear-gradient(#9bc9ff, #4099ff);
    box-shadow: 4px 2px 5px -1px #3c3c3c;
    cursor: default;
  }
}

.pcoded-navbar {
  .dashboard-label {
    background: linear-gradient(to right, #c3c3c3, #dadada);
  }
}

.pcoded-navbar {
  .pcoded-navigation-label span {
    color: #fff;
    font-size: 16px;
    display: block;
    font-weight: 500;
    letter-spacing: 1px;
  }
}

.aeps-ullist ul {
  padding: 0;
  margin: 0;
}

.aeps-ullist ul li {
  display: inline-block;
}

.aeps-ullist ul li span {
  font-size: 16px;
  color: #fff;
}

.aeps-ullist ul li p {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.width10 ul {
  width: 14rem !important;
}

.info-bttn {
  background: #fff;
  height: 35px;
  width: 35px;
  font-size: 12px;
  padding: 3px;
  border-radius: 50%;
  color: #4099ff;
  margin-left: 9px;
  font-weight: 800;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.overlay {
  position: fixed;
  z-index: 1030;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 100%;
}
.spinner-circle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
