/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */


.auth-box{
    width: 350px;
    height: 250px;
    background: rgba(0,0,0,0.2);
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    margin: auto;
    box-shadow: 0 0 8px -2px #a9a8a8;
    border-radius: 5px;
}
.sign-in-title{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    margin: 10px auto;
}
.input-group input[type="text"],.input-group input[type="password"]{
    width: 96%;
    height: 25px;
    padding: 5px;
    display: block;
    margin-bottom: 14px;
}
.submit-bttn{
    background: #555;
    border: 0;
    color: #fff;
    padding: 7px 23px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    border-radius: 2px;
    cursor: pointer;
}
.submit-bttn:hover{
    background:#000;
}
.ui-table-wrapper table{
    width: 100%;
    border-collapse: collapse;
}
.ui-table-wrapper table tbody tr td{
    padding: 6px 10px;
    border: 1px solid #d5d5d5;
}
.ui-table-thead tr th{
    padding: 6px 10px;
    text-align: left;
    border:1px solid #d5d5d5;
}
.form-group{
    margin-bottom: 15px;
}
.col-form-label{
    width: 10%;
    float: left;
}
.form-group input[type="text"]{
    width: 180px;
    height: 20px;
    padding: 5px;
}
.form-group select{
    height: 34px;
    width: 193px;
}
app-admin a{
    color: #000;
    text-decoration: underline;
    padding: 0 15px;
}
.form-group button{
    background: #555;
    border: 0;
    color: #fff;
    padding: 7px 23px;
    text-transform: uppercase;
    display: block;
    border-radius: 2px;
    cursor: pointer;
}
.form-group button:hover{
    background:#000;
}
app-uc-create-account form{
    padding-left:20px;
}

.footer-links{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    left: 0;
}